@model BugMania.Models.CreateBugReportViewModel

@{
    ViewBag.Title = "Create Tag";
}

@using (Html.BeginForm("Create","CreateTag",FormMethod.Post, new { @id = "createTagForm" }))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Tag</label>
            <div class="col-md-10">
                <input type="text" id="tagName" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <input type="text" id="tagDescription" class="form-control" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}