@model BugMania.Models.CreateCommentViewModel



@using (Html.BeginForm("Create", "CreateComment", FormMethod.Post))
{

    @Html.AntiForgeryToken()

    <div class="create-comment-container">
        <div>
            <input type="hidden" name="BugReportId" id="BugReportId" value=@ViewData["BugReportId"] />

            <textarea rows="4" name="Content" id="Content" class="create-comment-body" placeholder="Leave a comment"></textarea>
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
        <div class="m-t-20">
            <input type="submit" value="Comment" class="btn btn-info btn-std float-right" />
        </div>
    </div>
}