ul.navbar-nav li.dropdown,
ul.navbar-nav li.dropdown a.dropdown-toggle {
    background-color: #1d86dd;
}

ul.navbar-nav li.dropdown a.dropdown-toggle:hover,
ul.navbar-nav li.dropdown a.dropdown-toggle:visited,
ul.navbar-nav li.dropdown a.dropdown-toggle:active {
    background-color: #1469af;
}

.navbar-nav .dropdown .dropdown-menu {
    background-color: #1d86dd;
}

.navbar-nav .dropdown .dropdown-menu li a {
    color: #fff;
}

.custom-divider {
    display:block;
    margin-top:7px;
    margin-bottom:3px;
    background-color: #1d86dd;
    border-bottom: 1px solid #505050;
}

/* Width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #656565;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.group-view-container {
    display:flex;
    flex-wrap:wrap;
}

.group-card {
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color: #f69d12;
    color:#fff1d8;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px 5px 20px;
    margin: 5px;
    min-width:150px;
    min-height:150px;
}

.group-card:hover,
.group-card:visited,
.group-card:active {
    background-color: #f6b05e;
    color:#fff;
}

.group-content {
    text-align:center;
}

.btn-navbar-submit {
    width:100%;
    background-color: #1d86dd;
    border: none;
    text-align:left;
    padding-left: 21px;
    padding-top:5px;
    padding-bottom:5px;
}

.btn-navbar-submit:hover {
    background-color: #1469af;
}

.page-placeholder-container {
    position: relative;
    height: 100%;
}

.page-placeholder {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    text-align: center;
    font-size:24px;
    color: #5e5e5e;
}

.button {
    width: 60px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #e1e1e1;
    border: 1px solid #e7e7e7 ;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}


.button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.div-margin-10 {
    margin-left:10%;
    margin-right:10%;
}

.report-footer2 {
    display:flex;
    justify-content:space-between;
    flex-wrap:nowrap;
    min-height:20px;
}

.btn-edit-container {
    display: flex;
    justify-content:space-around;
    flex-direction:column;
}

.select-list {
    border: 1px solid rgba(120, 120, 120, .2);
    min-height:200px;
    padding:15px;
}

.tbl-roles-assign {
    width:auto;
    table-layout:auto;
    margin-bottom:50px;
}

.tbl-roles-assign th {
    min-width:10px;
}

.tbl-roles-assign td {
    
    padding-right:20px;
}

.text-align-center {
    text-align:center;
}

.msg-container {
    min-height: 20px;
    margin-bottom:20px;
}

.msg-text {
    font-size:14px;
    border:1px solid #000000;
}

.log-container {
    display:flex;
    flex-direction:column;
    margin-bottom:5%;
}

.log-card {
    display:flex;
    flex-direction:column;
    min-height:200px;
    /*background-color:#f69d12;*/
    margin-bottom:50px;
}

.log-header {
    margin:auto;
}

.big-headers {
    font-size: 40px;
    color:#000;
}

.log-content {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    flex-wrap:nowrap;
}

.log-profile-container {
    display:flex;
    flex-direction:column;
}

.log-icon {
    margin:auto;
}

.log-profile {
    display: flex;
    flex-direction: column;
    margin: auto;
    font-size: 40px;
    color: #000;
}

.log-profile-email {
    font-size: 40px;
    color: #000;
}

.log-profile-count {
    font-size: 40px;
    color: #000;
    margin: auto;
}


span.noti {
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
}

span.count {
    position: relative;
    top: -15px;
    font-size: 10px;
    color: #fff;
    font-family:Arial, Helvetica, sans-serif;
}

.noti-content {
    position: absolute;
    width: 200px;
    top: 52px;
    left: 3px;
    background-color: #fff;
    border-radius: 4px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.3);
}

.noti-top-arrow {
    position: absolute;
    width: 0px;
    height: 0px;
    left: 10px;
    top: -7px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
}

ul#noti-list {
    max-height: 200px;
    overflow: auto;
    padding: 0px;
    margin: 0px;
}

ul#noti-list li {
    max-height: 50px;
    list-style: none;
    border-bottom: 1px solid #9E988B;
}

.block-link {
    display: block;
}

.block-link div {
    max-height: 48px;
    padding:5px;
    font-size: 12px;
    background-color: #fff;
    color: #000;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
}

.block-link div:hover {
    color: #000;
    background-color: #eee;
}

.block-link:link,
.block-link:hover,
.block-link:visited,
.block-link:active {
    color: #000;
    background-color: transparent;
    text-decoration: none;
}

.noti-label-comment {
    color: #f6b05e;
    margin-right:10px;
}

.noti-label-update {
    color: #2ea0e6;
    margin-right: 10px;
}

.noti-label-comment:hover,
.noti-label-update:hover {
    cursor:pointer;
}

#noti-footer {
    color: #606060;
    font-size: 11px;
    text-align: center;
    height: 20px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #f6f6f6;
}

#noti-footer:hover {
    background-color: #ffe3c1;
    border: 1px solid #fff2db;
    color: #000;
}