html, body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

textarea {
    font-family: inherit;
    resize: none;
    overflow: auto;
}

label {
    color: #808080;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    width: 75%;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin: 5%;
    height:100%;
}

.div-zero-margin {
    margin:0;
    padding:0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.btn-container {
    max-height:30px;

}

.btn-icon {
    width:20px;
    height:20px;
    
}

.btn-text {
    text-align:center;
}

.img-icon {
    width: 42px;
    height: 42px;
}

.divider {
    border-top: 2px solid #808080;
}

.navbar-custom {
    background-color: #1d86dd;
    color: #fff;
}

.navbar-brand,
.navbar-nav li > * {
    color: #fff;
}

.navbar-brand:hover {
    color: #fff;
}

.navbar-header > *:hover {
    background-color: #1469af;
    color: #fff;
}

ul.navbar-nav li a:hover {
    background-color: #1469af;
    color: #fff;
}

.icon-bar {
    background-color:#fff;
    color:#fff;
}

.pos_mid {
    transform:translate(-50%, -50%);
}

.btn-link-text:link,
.btn-link-text:hover,
.btn-link-text:visited,
.btn-link-text:active {
    text-decoration: none;
    cursor: pointer;
}

/*#region Colors*/
.color-white {
    color: #fff;
}
/*#endregion */


.btn-std {
    width: 100px;
}

.searchbox {
    max-width: 280px;
}

.scrollbox {
    overflow: auto;
    background: /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
    radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background: /* Shadow covers */
    linear-gradient(white 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), white 70%) 0 100%, /* Shadows */
    radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .2), rgba(0, 0, 0, 0)) 0 100%;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;
    /* Opera doesn't support this in the shorthand */
    background-attachment: local, local, scroll, scroll;
}

.custom-nav-shadow {
    border-bottom: 1px solid #434242;
    box-shadow: 0 20px 20px -10px #333;
    margin: 0px auto 10px;
}

hr {
    border: none;
    height: 30px;
    border-bottom: 1px solid #1f1209;
    box-shadow: 0 10px 10px -10px #333;
    margin: 0 -21px 30px;
}


/* HTML5 */
.tooltip {
    position: relative; /* making the .tooltip span a container for the tooltip text */
}

.tooltip:before {
    content: attr(data-text); /* here's the magic */
    position: absolute;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%);
    /* move to right */
    left: 100%;
    margin-left: 15px; /* and add a small left margin */
    /* basic styles */
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    display: none; /* hide by default */
}

.tooltip:after {
    content: "";
    position: absolute;
    /* position tooltip correctly */
    left: 100%;
    margin-left: -5px;
    /* vertically center */
    top: 50%;
    transform: translateY(-50%);
    /* the arrow */
    border: 10px solid #000;
    border-color: transparent black transparent transparent;
    display: none;
}

.tooltip:hover:before, .tooltip:hover:after {
    display: block;
}

.tooltip.left:before {
    /* reset defaults */
    left: initial;
    margin: initial;
    /* set new values */
    right: 100%;
    margin-right: 15px;
}

.general-header {
    font-size:40px;
    font-weight:bold;
}

.search-filter-tag {
    font-size: 75%;
    background-color:#fff4f4;
    color: #404040;
    border-radius: 5px;
    border: solid #ffbaba;
    border-width: 1px 1px;
    padding: 2px;
}

.card {
    background-color: #f4faff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px 20px 5px 20px;
    margin: 5px;
}

.card:hover {
    background-color: #cbe6fc;
}

.card-row {
    margin: 5px;
}

.bottom-card {
    border-top:inherit;
}

.card-tag {
    background-color:#fff;
    border-radius: 5px;
    border: solid #458092;
    border-width: 1px 1px;
    padding: 2px;
    margin-right: 3px;
}

.card-title {
    font-size: 125%;
    text-decoration: none;
    color: #000;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width:80%;
}

.card-label {
    font-size: 75%;
    color: #808080;
}

.card-info {
    font-size: 75%;
    color: #404040;
}

.card-info-bold {
    font-size: 75%;
    color:#000000;
    font-weight:bold;
}

.report {
    margin-top:50px;
    margin-bottom: 50px;
}

.report-title {
    font-size: 160%;
    word-wrap:break-word;
}

.report-header {
    font-size: 12px;
}

.report-header-divider {
    border: none;
    height: 10px;
    border-bottom: 1px solid rgba(120, 120, 120, .2);
    box-shadow: 0 5px 5px -5px #333;
    margin: 0 -21px 5px;
}

.report-container {
    position: relative;
    background-color: #fbfbfb;
    border: 1px solid rgba(120, 120, 120, .2);
    padding: 20px;
    min-height: 200px;
}



.report-body {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size:15px;
    color:#404040;
}

.report-footer {
    position: absolute;
    bottom: 0;
    font-size:11px;
}

.comment-container {
    margin-bottom:50px;
}

.comment-card {
    color: #404040;
    border: 1px solid rgba(120, 120, 120, .2);
    display:flex;
}

.comment-profile {
    font-size: 13px;
    border-right: 1px solid rgba(120, 120, 120, .2);
    max-width: 150px;
    overflow-wrap: break-word;
    flex: 0;
    display:flex;
    flex-direction:column;
}

.profile-picture {
    display:block;
    width: 100%;
    max-width: 150px;
    height: auto;
    flex:0;
}

.profile-user {
    padding:5px;
    flex: 1;
    align-content:flex-end;
}

.comment-content {
    height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.comment-body {
    font-size: 15px;
    min-height:150px;
    padding: 15px;
    flex: 0;
}

.comment-time {
    font-size: 11px;
    flex: 1;
    align-self: flex-end;
    padding-right:5px;
}

.create-comment-container {
    margin-bottom:72px;
}

.create-comment-body {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid rgba(120, 120, 120, .5);
    border-radius: 5px;
}

.create-comment-body:focus {
    outline: none !important;
    border: 1px solid rgba(120, 120, 120, .7);
    box-shadow: 0 0 10px #719ECE;
}

.center-screen {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.modal {
    text-align: center;
    padding: 0 !important;
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.form-margin-default {
    margin-top: 50px;
}

.cursor-pointer:hover {
    cursor: pointer;
}

.display-flex {
    display:flex;
}

.display-inline-flex {
    display:inline-flex;
}

.display-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.position-relative {
    position:relative;
}

.stick-bottom-right {
    position: absolute;
    bottom: 0;
    right:0;
}

.stick-bottom {
    position: absolute;
    bottom: 0;
}

.clear-left {
    clear:left;
}

.clear-right {
    clear:right;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/*#region Margin Padding Size*/

.font-size-11 {
    font-size:11px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-25 {
    font-size: 25px;
}

.min-width-100 {
    min-width: 100px;
}

.min-width-5p {
    min-width: 5%;
}

.max-width-100 {
    max-width: 100px;
}

.max-width-400 {
    max-width: 400px;
}

.max-width-50p {
    max-width: 50%;
}

.max-width-75p {
    max-width: 75%;
}

.min-height-20 {
    min-height: 20px;
}

.min-height-40 {
    min-height: 40px;
}

.min-height-100 {
    min-height: 100px;
}

.width-5p {
    width: 5%;
}

.width-10p {
    width: 10%;
}

.width-15p {
    width: 15%;
}

.width-20p {
    width: 20%;
}

.width-25p {
    width: 25%;
}

.width-30p {
    width: 30%;
}

.width-40p {
    width: 40%;
}

.width-50p {
    width: 50%;
}

.width-60p {
    width: 60%;
}

.width-70p {
    width: 70%;
}

.width-75p {
    width: 75%;
}

.width-80p {
    width: 80%;
}

.width-90p {
    width: 90%;
}

.width-100p {
    width: 100%;
}

.m-l-5 {
    margin-left: 5px;
}

.m-r-5 {
    margin-right: 5px;
}

.m-l-10-p {
    margin-left: 10%;
}

.m-r-10-p {
    margin-right: 10%;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-b-10p {
    margin-bottom: 10%;
}

.m-lr-10-p {
    margin-left: 10%;
    margin-right: 10%;
}

.m-tb-10-p {
    margin-top: 10%;
    margin-bottom: 10%;
}

.m-lr-10 {
    margin-left: 10px;
    margin-right: 10px;
}

.m-tb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.m-tb-50 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.m-tb-50 {
    margin-top: 50px;
    margin-bottom: 50px;
}

.m-tb-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.p-l-5 {
    padding-left:5px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-15 {
    padding-left: 15px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-15-vh {
    padding-left: 15vh;
}

/*#endregion*/