@{
    ViewBag.Title = "Home";
}


<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" style="margin-right:5px"></span>New
            </button>
        </div>
        <form class="col-md-6">
            <input type="search" class="form-control pull-right" placeholder="Search" />
        </form>
    </div>
</div>
<div><hr style="border-top:2px solid #252525" /></div>
<div class="list-group">
    <div class="list-group-item-text">
        <a>...</a>
        <hr />
    </div>
    <div class="list-group-item-text">
        <a>...</a>
        <hr />
    </div>
    <div class="list-group-item-text">
        <a>...</a>
        <hr />
    </div>
</div>