@{
    ViewBag.Title = "Home";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <button type="button" class="btn btn-success">
                <span class="glyphicon glyphicon-plus btn-icon"></span>Create
            </button>
        </div>
        <form class="col-sm-6">
            <input type="search" class="form-control pull-right" placeholder="Search" />
        </form>
    </div>
</div>
<div><hr class="divider" /></div>
<div class="list-group">
    <div class="list-group-item-text">
        <a>...</a>
        <hr />
    </div>
    <div class="list-group-item-text">
        <a>...</a>
        <hr />
    </div>
    <div class="list-group-item-text">
        <a>...</a>
        <hr />
    </div>
</div>